body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    
}

a {
    display: block;
    color: rgb(23, 22, 22);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #ebd1d1;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}
<!--SECTION CURSOS-->

section {
    margin-bottom: 30px;
    text-align: center;
    
}

  ul li{
    list-style: none;
    text-align: center;
    
    }


.contenedor {

    margin-bottom: 20px;
    
}

.contenedor img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contenedor ul li {
    background-color: #b6edcc;
    padding: 10px;  
    border: solid rgba(237, 222, 222, 0.5);
    box-shadow: 0px 12px 15px 10px rgba(0, 0, 0, 0.10);
    margin-right: 45px;
    max-width: auto;
    

}


form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    display: grid;
    grid-gap: 10px;
   
    
    
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
    
    
}

h2.contacto {
    color: #283629;
    font-size: 35px;
}

label {
    color:#283629;
    font-size: 15px;
    font-weight: 600;
    
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}


button {
    background-color: #4CAF50;
    color: rgb(249, 244, 244);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}
.button:hover {
    background-color: #50E04B;
   
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-btn img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(250, 246, 246, 0.896);
}

@media(max-width:991px) {

    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        padding: 15px;
    }
}